* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

/* mobile */

#productDropdown {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 6px;
}

#productDropdown a {
  text-decoration: none;
}

/* nav */
.navButtons > div:first-child {
  text-decoration: underline;
  color: #ffc642;
}

#about {
  color: #ffc642;
}

/* nav end */

/* ---------------- body ---------------- */
/* hero */

@media (max-width: 580px) {
  #hero {
    /* border: solid 3px red; */
    margin: 40px 0 8vw 0;
  }
}
@media (min-width: 580px) and (max-width: 770px) {
  #hero {
    /* border: solid 3px red; */
    margin: 50px 0 4vw 0;
  }
}

.hero {
  margin: 80px 0 8vw 0;
}

.hero img {
  width: 100%;
}

/* innovative we do */
@media (max-width: 580px) {
  #innovative {
    /* border: solid 1px red; */
    margin-top: 0;
    padding: 0;
    width: 90%;
    flex-direction: column;
    margin-bottom: 50px;
  }

  #innovative h1 {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  #innovative .innovativeLeft {
    padding: 0;
  }

  #innovative .innovativeLeft p {
    font-size: 2.8vw;
    font-weight: 400;
    line-height: 3vw;
    /* padding: 0; */
    margin: 0;
  }

  #innovative .innovativeRight {
    /* border: solid 1px green; */
    width: 80vw;
    height: 100%;
    margin-top: 30px;
  }

  #innovative .innovativeRight img {
    width: 80vw;
  }

  #innovative .innovateBtn {
    margin: auto;
    display: inline-flex;
    width: 35vw;
    height: 41px;
    padding: 18px 22px;
    align-items: center;
    text-align: center;
    /* gap: 10px; */
    flex-shrink: 0;
    background: #ffc631;
    font-size: 12px;
    font-weight: 500;
    z-index: 1;
  }
}

@media (min-width: 580px) and (max-width: 770px) {
  #innovative {
    /* border: solid 1px red; */
    width: 90%;
    flex-direction: column;
  }

  #innovative h1 {
    width: 100%;
  }

  #innovative .innovativeLeft p {
    font-size: 2vw;
    font-weight: 400;
    line-height: 2.2vw;
    /* padding: 0; */
    margin: 0;
  }

  #innovative .innovativeRight {
    /* border: solid 1px green; */
    width: 35vw;
    margin-top: 30px;
  }

  #innovative .innovateBtn {
    margin: auto;
    display: inline-flex;
    width: 25vw;
    height: 61.716px;
    padding: 18px 30px;
    align-items: center;
    text-align: center;
    /* gap: 10px; */
    flex-shrink: 0;
    background: #ffc631;
    font-size: 2vw;
    font-weight: 500;
    z-index: 1;
  }
}

.innovative {
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: visible;
  width: 73.854vw;
  margin: auto;
  display: flex;
  position: relative;
  margin-bottom: 300px;
}

.innovative::before {
  content: "";
  background-image: url(../img/unique.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 98vw;
  height: 100%;
  pointer-events: none;
}

.innovative h1 {
  font-size: 2.5vw;
  width: 29.375vw;
}

.innovativeLeft {
  /* border: solid 1px yellow; */
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.innovativeLeft p {
  color: #162739;
  font-size: 0.933vw;
  font-weight: 400;
  line-height: 1.2vw;
}

.innovativeRight {
  /* border: solid 2px yellow; */
  background-image: url(../img/BackgroundGreen.png);
  background-repeat: no-repeat;
  background-position: right bottom; /* Position at the end (right) and bottom */
  background-size: auto 50%;
  height: 35.646vw;
}

.innovativeRight img {
  width: 34.175vw;
}

.lineText {
  display: flex;
  align-items: center;
  gap: 10px;
}

.lineText p {
  font-size: 15px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.innovateBtn {
  display: inline-flex;
  width: 10vw;
  height: 61.716px;
  padding: 18px 30px;
  align-items: center;
  text-align: center;
  gap: 10px;
  flex-shrink: 0;
  background: #ffc631;
  font-size: 0.8vw;
  font-weight: 500;
}

/* innovation end */

/* process */

@media (max-width: 580px) {
  #process .procesImg {
    width: 80%;
    height: auto;
    /* border: solid 1px red; */
    gap: 20px;
    padding: 30px 10px;
    background-size: cover; /* Makes the background image cover the container */
    background-position: center; /* Ensures the image is centered */
    background-repeat: no-repeat;
  }




  #process .procesImg h2 {
    font-size: 7vw;
    margin: 0;
    padding: 0;
    /* border: solid 1px red; */
  }

  #process .procesImg p {
    font-size: 2.6vw;
    line-height: 100%;
    margin: 0;
    padding: 0;
    /* border: solid 1px red; */
  }

  #process .processHead {
    width: 90vw;
    margin: auto;
    /* border: solid 1px red; */
  }

  #process .processHead h1 {
    font-size: 6vw;
    width: 100%;
  }

  #process .processdot-box {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    /* width: 1900px; */
  }

  #process .processLing {
    /* border: solid 1px red; */
    width: 1360px;
  }

  #process .processLing .dotBox {
    width: 1360px;
    margin: 0;
    /* border: solid 1px red; */
    gap: 340px;
  }

  #process .processBot {
    width: 1360px;
    gap: 65px;
  }

  #process .pbcard {
    width: 298px;
    /* border: solid 1px yellow; */
  }

  #process .pbcard h3 {
    font-size: 5vw;
  }

  #process .pbcard p {
    font-size: 3vw;
    line-height: 3.5vw;
  }
}

@media (min-width: 580px) and (max-width: 770px) {
  #process .procesImg {
    width: 100%;
    height: auto;
    padding: 30px 10px;
  }

  #process .procesImg h2 {
    font-size: 6vw;
  }

  #process .processHead {
    width: 90vw;
    margin: auto;
  }

  #process .processdot-box {
    /* border: solid 1px red; */
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    /* width: 1900px; */
  }

  #process .processLing {
    /* border: solid 1px red; */
    width: 1360px;
  }

  #process .processLing .dotBox {
    width: 1360px;
    margin: 0;
    /* border: solid 1px red; */
    gap: 340px;
  }

  #process .processBot {
    width: 1360px;
    gap: 65px;
  }

  #process .pbcard {
    width: 298px;
    /* border: solid 1px yellow; */
  }

  #process .pbcard h3 {
    font-size: 2.5vw;
  }

  #process .pbcard p {
    font-size: 1.5vw;
    line-height: 2vw;
  }
}

.process {
  background-color: #162739;
  background-image: url(../img/Group.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  padding: auto;
  padding-bottom: 140px;
}

.procesImg {
  /* border: solid 1px yellow; */
  background-image: url(../img/Rectcurve.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin: auto;
  width: 65.729vw;
  height: auto;
  min-height: 12.917vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  position: relative;
  transform: translateY(-50%);
  z-index: 1;
  padding: 2vw 0;
}

.procesImg h2 {
  color: var(--brand-color-1, #ffc631);
  text-align: center;
  font-size: 3.333vw;
  font-style: normal;
  font-weight: 700;
}

.procesImg p {
  color: var(--off-white, #e9e6e6);
  text-align: center;
  font-size: 1.667vw;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 125% */
}

.processHead {
  width: 76vw;
  margin: auto;
}

.processHead h1 {
  color: #fff;
  font-size: 2.5vw;
  width: 100%;
  font-style: normal;
  font-weight: 700;
}

.processLing {
  border: solid 1px #a9a9a9;
  margin-top: 40px;
  height: 1px;
  position: relative;
}

.processLing .dotBox {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: -9px;
  left: 0;
  right: 0;
  width: 84vw;
  gap: 8px; /* Match processBot gap */
}

.procesDot {
  /* Wrapper to match card width */
  width: 18vw; 
  height: 20px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align dot to start of text */
}

.procesDot::before {
  content: "";
  height: 20px;
  width: 20px;
  background-color: #ffc642;
  border-radius: 50%;
  display: block;
}

.processBot {
  margin: auto;
  width: 84vw;
  margin-top: 40px;
  /* border: solid 2px yellow; */
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.pbcard {
  width: 18vw;
}

.pbcard h3 {
  color: #fff;
  font-size: 1.354vw;
  font-style: normal;
  font-weight: 700;
}

.pbcard p {
  color: var(--off-white, #e9e6e6);
  font-size: 0.938vw;
  font-style: normal;
  font-weight: 400;
  line-height: 1.354vw;
}

/* process end */

/* choose */

@media (max-width: 580px) {
  #choose {
    width: 90%;
    /* border: solid 1px red; */
    padding: auto;
    margin: auto;
    flex-direction: column;
    margin-top: 24px;
  }

  #choose h1 {
    width: 100%;
    font-size: 5vw;
    padding: 0;
    margin: 0;
  }

  #choose .chooseBoxcontainer {
    width: 100%;
    flex-direction: column;
    gap: 50px;
    /* justify-content: space-between; */
    padding: 0px 0 40px 0;
  }

  #choose .chooseBoxL {
    width: 95%;
    /* padding: 10vw 2vw 10vw 2vw; */
    border: solid 1px red;
  }

  #choose .chooseBoxL div h2 {
    font-size: 5.5vw;
  }

  #choose .chooseBoxL div p {
    font-size: 3vw;
  }

  #choose .chooseBoxR {
    width: 95%;
    /* padding: 10vw 2vw 10vw 2vw; */
  }

  #choose .chooseBoxR div h2 {
    font-size: 4vw;
  }

  #choose .chooseBoxR div p {
    font-size: 3vw;
    line-height: 3.3vw;
  }
}

@media (min-width: 580px) and (max-width: 770px) {
  #choose {
    width: 90%;
    /* border: solid 1px red; */
    padding: auto;
    margin: auto;
    flex-direction: column;
  }

  #choose h1 {
    width: 100%;
    font-size: 3.5vw;
  }

  #choose .chooseBoxcontainer {
    width: 100%;
    /* flex-direction: column; */
    justify-content: space-between;
    padding: 0px 0 40px 0;
  }

  #choose .chooseBoxL {
    width: 50vw;
    /* padding: 10vw 2vw 10vw 2vw; */
  }

  #choose .chooseBoxL div h2 {
    font-size: 3.5vw;
  }

  #choose .chooseBoxL div p {
    font-size: 1.5vw;
  }

  #choose .chooseBoxR {
    width: 40vw;
    /* padding: 10vw 2vw 10vw 2vw; */
  }

  #choose .chooseBoxR div h2 {
    font-size: 2vw;
  }

  #choose .chooseBoxR div p {
    font-size: 1.5vw;
  }
}

.choose {
  /* border: solid yellow 2px; */
  width: 76vw;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.choose h1 {
  color: #000810;
  font-size: 2.5vw;
  font-style: normal;
  font-weight: 700;
  /* margin-bottom: 50px; */
}

.chooseBoxcontainer {
  /* border: solid 1px #A9A9A9; */
  display: flex;
  justify-content: start;
  gap: 3vw;
  align-items: center;
  padding: 10px 0 180px 0;
}

.chooseBoxL {
  background: #f7f5f5;
  width: 34vw;
  padding: 4vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2vw;
}

.chooseBoxL div h2 {
  color: #0da574;
  font-size: 2.25vw;
  font-style: normal;
  font-weight: 700;
}

.chooseBoxL div p {
  color: #202c38;
  font-size: 1vw;
  font-style: normal;
  font-weight: 500;
}

.chooseBoxR {
  width: 26vw;
  /* border: solid 1px #A9A9A9; */
}

.chooseBoxR h2 {
  color: #000810;
  font-size: 1.454vw;
  font-style: normal;
  font-weight: 700;
}

.chooseBoxR p {
  padding: 0;
  padding-left: 2.9em;
  color: #202c38;
  font-size: 0.9vw;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4vw;
}

/* choose end */

/* transform */

@media (max-width: 580px) {
  #transform .transBox {
    width: 90%;
  }

  #transform .transBox h1 {
    font-size: 4.5vw;
  }

  #transform .transBox p {
    font-size: 3.5vw;
    line-height: 3.5vw;
    width: 100%;
  }

  #transform .transBtn {
    font-size: 2.5vw;
    width: 32vw;
    height: 5.5vw;
    padding: 2.2vw 3vw;
  }
}

@media (min-width: 580px) and (max-width: 780px) {
  #transform .transBox {
    width: 90%;
  }

  #transform .transBox h1 {
    font-size: 4.5vw;
  }

  #transform .transBox p {
    font-size: 2.5vw;
    line-height: 2.5vw;
    width: 100%;
  }

  #transform .transBtn {
    font-size: 2vw;
    width: 28vw;
    height: 5.5vw;
    padding: 2vw 3vw;
  }
}

.transBox {
  z-index: 20;
  /* border: solid 1px red; */
}

.transform {
  width: 100%;
  /* height: 590px; */
  padding: 8vw 0;
  background: linear-gradient(85deg, #0da574 0%, #001f3f 100%),
    url(../img/Group.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.transBox {
  width: 61vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.3vw;
}

.transBox h1 {
  color: var(--brand-color-1, #ffc631);
  text-align: center;
  font-size: 3.75vw;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}

.transBox p {
  color: var(--off-white, #e9e6e6);
  text-align: center;
  font-size: 1.42vw;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42vw;
  width: 44vw;
}

.transBtn {
  display: inline-flex;
  height: 3.525vw;
  padding: 0.938vw 1.563vw;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background: #ffc631;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
  color: #000810;
  font-size: 0.938vw;
  font-weight: 600;
  cursor: pointer;
}

/* transform end */

/* partners */

@media (max-width: 580px) {
  #partners .carouselSection-owl .owl-nav {
    display: none;
  }

  #partners .item.reviewerCar {
    background: #f8f8f8;
    width: 70vw;
    padding: 3.1vw;
    /* border: solid red 1px; */
  }

  #partners .caroselBox p {
    color: #000810;
    font-size: 2.2vw;
    font-style: normal;
    font-weight: 500;
    line-height: 2.3vw;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 580px) and (max-width: 780px) {
  #partners .carouselSection-owl .owl-nav {
    display: none;
  }

  #partners {
    /* border: solid 1px red; */
    width: 90%;
  }

  #partners .item.reviewerCar {
    background: #f8f8f8;
    width: 50vw;
    padding: 3.1vw;
    /* border: solid red 1px; */
  }

  #partners .caroselBox p {
    color: #000810;
    font-size: 1.9vw;
    font-style: normal;
    font-weight: 500;
    line-height: 2vw;
    margin: 0;
    padding: 0;
  }
}

.partners {
  /* border: solid 3px red; */
  margin: auto;
  height: 514px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  width: 72.448vw;
}

.partnerhead {
  /* border: solid 3px red; */
}

.partnerBox {
  width: 100%;
}

.item.reviewerCar {
  background: #f8f8f8;
  width: 27vw;
  padding: 3.1vw;
  /* border: solid red 1px; */
}

.caroselBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.caroselBox p {
  color: #000810;
  font-size: 0.938vw;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  margin: 0;
  padding: 0;
}

.carouselSection-owl {
  /* border: solid 1px red !important; */
  /* display: flex !important;
  flex-direction: column-reverse;
  position: relative; */
}

.carouselSection-owl .owl-nav button.owl-prev {
  border: solid 1px black !important;
  border-radius: 50% !important;
  width: 30px !important;
  height: 30px !important;
}

.carouselSection-owl .owl-nav button :hover {
  background-color: none !important;
  color: #000810 !important;
}

.carouselSection-owl .owl-nav button.owl-next {
  border: solid 1px black !important;
  border-radius: 50% !important;
  width: 30px !important;
  height: 30px !important;
}

.carouselSection-owl .owl-nav {
  /* border: solid 2px green !important; */
  position: absolute;
  background-color: white;
  font-size: large;
  font-weight: 700;
  top: -20%;
  right: 30px;
}

/* ---------------- body end ---------------- */
