* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* nav */

#product {
  color: #ffc642;
  text-decoration: underline;
}

/* mobile */

#productDropdown{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 6px;
}

#productDropdown a{
  text-decoration: none;
}


/* nav end */

/* ---------------------  body --------------------- */

/* hero */
@media (max-width: 580px) {
  #hero {
    /* border: solid 3px red; */
    margin: 40px 0 8vw 0;
  }
}
@media (min-width: 580px) and (max-width: 770px) {
  #hero {
    /* border: solid 3px red; */
    margin: 50px 0 4vw 0;
  }
}

.hero {
  margin: 80px 0 8vw 0;
}

.hero img {
  width: 100%;
}

/* hero end */

/* product */

@media (max-width: 580px) {
  #products {
    /* border: solid 3px red; */
    margin: 40px 0 8vw 0;
    flex-direction: column;
    width: 95vw;
    gap: 20px;
  }
}


@media (min-width: 580px) and (max-width: 880px) {
  #products {
    flex-direction: column;
    width: 90vw;
    gap: 50px;
  }
}

.product {
  width: 85vw;
  /* border: solid 1px red; */
  margin: auto;
  display: flex;
  gap: 20px;
  margin-bottom: 50px;
  color: #000810 !important;
  text-decoration: none !important;

}

.image-gallery {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  gap: 10px;
}

.main-image-container {
  width: 400px;
  height: 400px;
  overflow: hidden;
  /* border: 1px solid #ccc; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main-image-container img {
  max-width: 100%;
  max-height: 100%;
}

.thumbnail-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.thumbnail {
  width: 60px;
  height: 60px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.thumbnail:hover,
.thumbnail.active {
  border-color: #007bff;
}

.Product_btns {
  /* border: solid 2px yellow; */
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.Product_btns .productBrochure {
  display: flex;
  width: 200px;
  height: 48px;
  padding: 16px 20px;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 31, 63, 1);
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
}

.Product_btns .requestQuote {
  display: flex;
  width: 200px;
  height: 48px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 198, 49, 1);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
}

.productCode {
  display: inline-flex;
  padding: 6px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #0da574;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
}

.product-details h2 {
  margin-top: 24px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  
}

.product-details p {
  color: #4d5765;
  text-align: justify;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.detailFeatures p {
  /* border: solid 1px red; */
  margin: 0;
  padding: 0;
}

/* product end */

/* table product */

.product-table {
  /* border: solid 1px red; */
  width: 76.5vw;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 100px;
}

.product-table h2 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 50px;
}

table {
  border-collapse: collapse; /* Ensures no double lines */
  width: 100%;
  /* max-width: 500px; */
  background: white;
}

th,
td {
  border: 1px solid #e6e6e6 !important;
  padding: 10px;
  text-align: left;
  width: 65%;
}

th {
  border: 1px solid #e6e6e6 !important;
  font-weight: bold;
  width: 35%;
}

/* table end */

.end{
  width: 76.5vw;
  margin: auto;
  margin-bottom: 300px;
  margin-top: 100px;
}