/* navigation */

.logoBoxA{
  text-decoration: none;
}

.navigationBox {
  position: absolute;
  top: 1;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 8vw;
  background-color: transparent;
  backdrop-filter: blur(0.5px);
  transition: background-color 0.3s ease;
  height: 80px;
  box-shadow: none;
}

.navigationBox.scrolled {
  background-color: rgba(0, 31, 63, 1);
  top: 0;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  height: 2.083vw;
  width: auto;
}

.logo h1 {
  font-size: 2.5vw;
  font-weight: 800;
  line-height: 48px;
  margin: 0;
  display: flex;
}

.logo h1 .white {
  color: white;
}

.logo h1 .orange {
  color: #e67817;
}

.logo h1 .green {
  color: #005534;
}

.navButtons {
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
}

.navButtons div a{
  cursor: pointer;
  font-size: 0.829vw;
  font-weight: 600;
  color: white;
  text-decoration: none;
}

#getQuote {
  display: flex;
  gap: 0.500vw;
  align-items: center;
  background-color: #ffc631;
  color: black;
  padding: 0.833vw 1.458vw;
  font-size: 0.833vw;
  font-weight: 600;
  margin-left: 10px;
}

.container-fluid{
  /* border: solid 1px red; */
  position: absolute;
  top: 0;
  /* padding: 0; */
  /* margin: 0; */
  background-color: #001F3F;
}


/* mobile nav */

.navbar-toggler{
  color: #ffc631 !important;
  font-size: 58px;
  font-weight: bolder;
  border: solid 1.9px #ffc631 !important;
  padding: 5px 10px 8px 10px !important;
}


.logo2 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo2 img {
  height: 40px;
  width: auto;
}

.logo2 h1 {
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  margin: 0;
  display: flex;
}

.logo2 h1 .white {
  color: white;
}

.logo2 h1 .orange {
  color: #e67817;
}

.logo2 h1 .green {
  color: #005534;
}


.offcanvas-header{
  background-color: #001F3F;
}

.btn-close{
  color: #fff !important;
  font-size: 30px;
  font-weight: bolder;
}

.offcanvas-body{
  /* border: solid 1px red; */
  background: #001F3F;
}

.offcanvas-body a{
  color: #fff;
}

#offcanvasNavbarLabel .white {
  color: white;
}

#offcanvasNavbarLabel .orange {
  color: #e67817;
}

#offcanvasNavbarLabel .green {
  color: #005534;
}

#offcanvasNavbarLabel img{
  height: 30px;
}


#getQuoteM {
  display: flex;
  width: 170px;
  gap: 10px;
  align-items: center;
  background-color: #ffc631;
  color: black;
  padding: 8px 16px;
  font-weight: 600;
  margin-top: 30px;
  /* margin-left: 10px; */
}
